.acceptedOrdersContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.acceptedOrder {
    flex: 1;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    min-width: 250px;
}

.hidden {
    display: none
}

@media print {
    .hidden {
        display: initial;
    }
}

.reduceHeight {
    margin: 0;
}
